@import 'colors';

.administration-overview__navbar {
  position: relative;
}

.administration-overview__navbar {
  background-color: $light-grey;
}

.administration-overview__domain {
  max-height: 48px;
  position: absolute;
  top: 46px;
  right: 24px;
  z-index: 11;
}

.mat-mdc-tab-link {
  color: #1a202c !important;
}

/* TODO(mdc-migration): The following rule targets internal classes of tabs that may no longer apply for the MDC version. */
.mat-tab-label-active {
  font-weight: bolder !important;
  color: unset;
  opacity: 1;
}
