.task-status-details {
  display: flex;
  flex-direction: row;

  &__column--left {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-right: 16px;
  }

  &__column--right {
    display: flex;
    flex-direction: column;
    width: 50%;
  }

  &__field--group {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
  }

  &__gap {
    flex: 0 0 8px;
  }
}

.task-status-details .mat-mdc-form-field {
  margin-top: 0.7rem;
  flex-grow: 1;
}

.mat-mdc-input-element:disabled {
  color: gray;
}

/* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version. */
::ng-deep .mat-form-field-outline {
  color: lightgray !important;
}
